body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #0074d9;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

main {
  padding: 1rem;
}

h2 {
  color: #0074d9;
}

#partidos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center; /* Centrar los partidos */
}

.partido {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 1.5rem;
  width: 250px;
  height: 350px; /* Tamaño ajustado */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadimos sombra para darle un efecto más visible */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); /* Forma hexagonal */
  transition: transform 0.3s ease;
}

.partido:hover {
  transform: scale(1.05); /* Efecto de agrandado al pasar el ratón */
}

.partido h3 {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* Colores según partido */
.partido.pp {
  background-color: #0074d9; /* Azul para PP */
}

.partido.psoe {
  background-color: #d32f2f; /* Rojo para PSOE */
}

.partido.vox {
  background-color: #388e3c; /* Verde para VOX */
}

.partido.sumar {
  background-color: #f06292; /* Rosa palo para SUMAR */
}

button {
  width: 30%; /* Botones más pequeños */
  padding: 0.5rem;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f1f1f1;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 1rem;
}

footer {
  background-color: #ddd;
  text-align: center;
  padding: 1rem;
}
